# Laravel / PHP
/.env
/.env.*
/vendor/
/bootstrap/cache/*

# Storage (runtime files & uploads)
/storage/*
!/storage/app/public/.gitkeep
!/storage/framework/.gitignore
!/storage/logs/.gitignore
/public/storage

# Node / Frontend
/node_modules/
/npm-debug.log*
/yarn-debug.log*
/yarn-error.log*
.pnpm-debug.log*

# IDE / OS
.DS_Store
/.idea/
/.vscode/
Thumbs.db

# Build artifacts
/public/hot
/public/build

